/* General styles */
body {
    background-color: rgb(240, 235, 248);
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    margin-top: 30px;
}

/* Form header styles */
.form-header {
    background-color: white;
    border-bottom: 2px solid rgb(103, 58, 183);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.form-header h2 {
    flex: 1;
    text-align: center;
    margin: 0;
}

#preview-btn {
    margin-right: 10px;
    background-color: #007bff; /* Blue background color */
    border-color: #007bff; /* Blue border color */
}

#preview-btn i {
    margin-right: 5px; /* Space between icon and text */
}

#add-section-btn {
    position: absolute;
    left: -60px;
    top: 24px;
    z-index: 1000;
}

/* Form section styles */
.form-section {
    background-color: white;
    border: 2px solid rgb(103, 58, 183);
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-left-color 0.3s, transform 0.3s;
}

.form-section.active {
    border-left-color: #007bff;
    transform: scale(1.05);
}

.header-row {
    display: flex;
    align-items: baseline; /* Change align-items to baseline */
}

.untitled-question {
    flex: 1;
    margin-right: 10px;
    width: calc(100% - 230px); /* Adjusted width to better fit with dropdown */
}

.custom-select {
    width: 220px; /* Adjusted width to match the changed width of untitled-question */
    margin-right: 10px;
}

.delete-section-icon {
    flex: 0.1;
    cursor: pointer;
    color: grey;
    font-size: 1.5em;
}

.options-container {
    margin-top: 20px;
}

.options-container select {
    list-style-type: none;
}

.form-section textarea {
    margin-top: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.option input[type="radio"],
.option input[type="checkbox"] {
    margin-right: 10px;
}

.option .delete-option-icon {
    margin-left: 10px;
    cursor: pointer;
    color: grey;
    font-size: 1.5em; /* Increased icon size */
}

.option-label {
    width: 60%;
    text-align: left;
}

/* Add Option button */
.add-option-btn {
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
}

/* Placeholder for sortable */
.ui-state-highlight {
    background: #d3d3d3 !important; /* Light grey background color */
    height: 3em;
    line-height: 1.2em;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
