

body {
    background-color: rgb(240, 235, 248);
    font-family: Arial, sans-serif;
}
.container {
    position: relative;
    margin-top: 30px;
}

/* Form header styles */
.form-header {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 173px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 10px solid rgb(103, 58, 183); 
    width: 69%;
}

.form-header h2 {
    flex: 1;
    text-align: center;
    margin: 0;
}

#preview-btn {
    margin-right: 10px;
    background-color: #007bff; 
    border-color: #007bff; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-btn i {
    margin-right: 0; 
    font-size: 1.5em; 
}

#add-section-btn {
    position: absolute;
    left: -60px;
    top: 24px;
    z-index: 1000;
}


.form-section {
    background-color: white;
    width: 69%;
    margin-bottom: 30px;
    margin-left: 173px;
    padding: 20px;
    position: relative;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.form-section.active {
    border-left: 6px solid rgb(66, 133, 244); 
    transform: scale(1.02);
}

.header-row {
    display: flex;
    align-items: baseline; 
    position: relative;
}

.untitled-question {
    flex: 1;
    margin-right: 10px;
    width: calc(100% - 230px); 
}

.custom-select {
    width: 220px; 
}

.delete-section-icon {
    flex: 0.1;
    cursor: pointer;
    color: grey;
    font-size: 1.5em;
    margin-left: 10px;
}

.options-container {
    margin-top: 20px;
}

.options-container select {
    list-style-type: none;
}

.form-section textarea {
    margin-top: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.option input[type="radio"],
.option input[type="checkbox"] {
    margin-right: 10px;
}

.option .delete-option-icon {
    margin-left: 10px;
    cursor: pointer;
    color: grey;
    font-size: 1.5em; 
}

.option-label {
    width: 42%;
    text-align: left;
}


.add-option-btn {
    background-color: #f0f0f0; 
    color: #333; 
    margin-top: 11px;
}


.ui-state-highlight {
    background: #d3d3d3 !important; 
    height: 3em;
    line-height: 1.2em;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
